// include all imported fonts here even google fonts
@charset 'utf-8';
/** font face **/
.font-a { }
/** font face **/

@font-face {
    font-family: 'a-otf_maru_folk_pror';
    src: url('font/a-otf--pro-regular-webfont.woff2') format('woff2'),
         url('font/a-otf--pro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
