// ionclude all your related style here in the footer, you can leave it empty if the page has no footer
footer { z-index: 2; position: relative;
  .footer {
    .footer-container { border-top: 1px solid $coAsh;
      p { @include font-size(11px); margin: 0; color: $coAsh; margin-left: 100px; }
      .footer-sns {
        a { display: inline-block; @include font-size(22px); color: $coAsh; margin-left: 10px; }
      }
    }

    @include breakpoint(sm) {
      .footer-sns { padding-bottom: 20px; }
      .footer-content {
        > img { float: none !important; margin-bottom: 20px; }
        p { margin-left: 0; }
      }
    };
  }
}
