// ionclude all your related style here in the header, you can leave it empty if the page has no header
html, body { height:100%; min-height:100%; height: auto !important; }
header {
  .menu {
    a { color: $coBlue; }
    .lang {
      a { color: $coAsh; }
    }

    @include breakpoint(lg) {
      position: fixed; width: 100%; left: 0; top: 0; background: $coWhite; border-bottom: 1px solid lighten($coAsh, 20%); z-index: 3;
      .mobile-logo { padding: 10px 0; }

      .menu-nav { position: fixed; top: 66px; right: 0; width: 280px; height: 100%; padding-bottom: 66px; background: $coWhite; z-index: 3; overflow: auto;
        @include transform(translateX(101%)); @include transition(all 0.5s ease);
        &.active { @include transform(translateX(0)); }
        box-shadow: -1px 2px 5px rgba(0,0,0,0.3);
        .row { padding-top: 20px !important; margin: 0 !important; }
        .nav-link { padding: 0 !important;
          a { display: block; padding: 10px 20px; }
        }
      }
      .burger-menu { position: absolute; top: 20px; right: 15px; font-size: 30px; width: 30px; height: 30px;
        span { display: block; border-top: 3px solid $coAsh; @include transition(all 0.5s ease);
          &:nth-child(2) { margin: 7px 0; }
        }
        &.active {
          span {
            &:first-child { @include transform(rotate(-45deg) translate(-6px,7px)); }
            &:nth-child(2) { opacity: 0; }
            &:last-child { @include transform(rotate(45deg) translate(-7px,-8px)); }
          }
        }
      }
    };
  }
}
