// this is area is for reserved class
#main-container { height:100%; height: auto !important; min-height:100%; color: $coAsh; letter-spacing: 3px; }
.hide { position:relative; }
.ease,a,input[type="submit"],button { @include transition(all 0.5s ease); }
.ease2 { @include transition(all 0.3s ease); }
.loader { position:relative; overflow:hidden; background:#fff url('../images/page_template/loading.gif') no-repeat center; }
.auto { max-width:$maxWidth; margin-left: auto; margin-right: auto; }
.img-auto { width: 100%; height: auto; }
.container { max-width: $maxWidth; }
.hide { display: none; }
.img-objectfit { object-fit: cover; object-position: center center; }
#main-wrapper { }

.zx1 { z-index: 1; }
.zx2 { z-index: 2; }
.zx3 { z-index: 3; }
.zx4 { z-index: 4; }
.zx5 { z-index: 5; }
.zx6 { z-index: 6; }
.overflow { overflow: hidden; }
.pl-0 { padding-left: 0; }
.pr-0 { padding-right: 0; }

.preloader { position:fixed; width:100%; height:100%; overflow:hidden; }
.explorer .preloader { background:#fff url('../images/page_template/loading.gif') no-repeat center; }
.explorer .preloader .spinner { display:none; }
// this is area is for reserved class

html {
  @include breakpoint(md) {
    font-size: 14px;
  };
}

.fadeUp,
.fadeLeft,
.fadeRight { opacity: 0; }

.touch {
  .fadeUp,
  .fadeLeft,
  .fadeRight { opacity: 1; }
}

// you can include here the rest of your class name eg. home page
h2 { @include font-size(25px); font-weight: normal; color: $coBlue; }
.pw-btn { display: inline-block; @include font-size(14px); padding: 7px 30px; min-width: 200px; border: 1px solid $coBlue; border-radius: 30px; color: $coBlue; text-align: center;
  &:hover { background: $coBlue; color: $coWhite; }
}

.yellow-btn { display: inline-block; @include font-size(14px); padding: 10px 30px; min-width: 200px; background: $coYellow; border-radius: 30px; color: $coBlue; text-align: center;
  &:hover { background: $coBlue; color: $coWhite; }
}

.banner-slider {
  .carousel-indicators {
    li { width: 10px; height: 10px; border: none; border-radius: 100%; background: $coAsh;
      &.active { background: $coBlue; }
    }
  }

  .carousel-fade .carousel-item {
   opacity: 0;
   transition-duration: .6s;
   transition-property: opacity;
  }

  .carousel-fade  .carousel-item.active,
  .carousel-fade  .carousel-item-next.carousel-item-left,
  .carousel-fade  .carousel-item-prev.carousel-item-right {
    opacity: 1;
  }

  .carousel-fade .active.carousel-item-left,
  .carousel-fade  .active.carousel-item-right {
   opacity: 0;
  }

  .carousel-fade  .carousel-item-next,
  .carousel-fade .carousel-item-prev,
  .carousel-fade .carousel-item.active,
  .carousel-fade .active.carousel-item-left,
  .carousel-fade  .active.carousel-item-prev {
   transform: translateX(0);
   transform: translate3d(0, 0, 0);
  }

  .carousel-inner {
    .carousel-item {
      h1 { position: absolute; @include font-size(30px); line-height: 43px; top: 50px; left: 0; width: 100%; text-align: center; color: #232176;
        span { display: block; max-width: 865px; width: 95%; margin: 0 auto; }

        @include breakpoint(md) {
          @include font-size(25px);
          top: 30px; line-height: 35px;
        };
      }
    }
  }

  @include breakpoint(lg) {
    margin-top: 90px !important;
  };

}

.col2-image {
  &.container  { max-width: 1450px;
    .col2-img2 { margin-top: 170px;
      @include breakpoint(md) {
        margin-top: 30px;
      };
    }
  }
}

.pw-content-2 { @include font-size(16px); line-height: 35px;
  li { display: block; position: relative; padding-left: 20px;
    &:before { position: absolute; top: 13px; left: 0; display: inline-block; content: ''; vertical-align: middle; width: 1px; height: 11px; padding-right: 20px; border-left: 1px solid $coAsh; }
  }
}

.vt-text {
  writing-mode: vertical-lr; text-orientation: upright;
  span { display: block; }
}

.pw-banner2 {
  .container-fluid { top: 50px; }
  h2 { @include font-size(40px); color: $coWhite; }
  @include breakpoint(lg) {
    height: 300px;
  };
  @include breakpoint(md) {
    height: 200px;
    .container-fluid { top: 30px; }
    h2 { @include font-size(30px); color: $coWhite; }
  };
}

.kurita { @include font-size(18px);
  .tab-nav  { border-left: 1px solid $coAsh;
    a { color: $coAsh;
      &:hover, &.active { color: $coBlue; }
    }
  }
  .kr-tab-nav { padding-bottom: 20px; border-bottom: 2px solid $coBlue; }
  .tab-panel {
    h3 { @include font-size(22px); font-weight: normal; color: $coBlue; }
  }
  .yellow-btn { @include font-size(18px); margin-bottom: 15px; }


  @include breakpoint(md) {
    .tab-nav {
      margin-top: 10px; border-left: none;
    }
  };
}

.product {
  .product-info { @include font-size(16px);
    li { padding-bottom: 20px;
      &:after { float: none; clear: both; }
      label { display: block; float: left; width: 116px; }
      > p,
      .product-info-inner,
      .product-colors { position: relative; margin-left: 116px; }
      .product-info-inner {
        p {
          &:after { float: none; clear: both; }
          span { display: block;
            &:first-child { float: left; width: 86px;}
            &:last-child { position: relative; overflow: hidden; margin-left: 86px; }
          }
        }
      }
      .product-colors {
        a { display: inline-block; vertical-align: middle; color: $coAsh; }
        .circle { display: inline-block; vertical-align: middle; margin-top: -2px; width: 27px; height: 27px; margin-right: 10px; border-radius: 100%; border: 1px solid #d2d2d2;
          &.blue { background: #1dc1dd; }
          &.red { background: #f73449; }
          &.green { background: #a1d55d; }
          &.pink { background: #f7d6e0; }
          &.Lblue { background: #86e1d0; }
          &.white { background: #ffffff; }
        }
      }
    }
  }

  @include breakpoint(sm) {
    .product-info {
      li {
        label { float: none; width: auto; }
        >p,
        .product-info-inner,
        .product-colors { margin-left: 0; }
      }
    }
  };
}

.faq-banner {
  @include breakpoint(md) {
    height: 300px;
    > img { height: 100%; }
  };
  @include breakpoint(md) {
    height: 200px;
  };
}

.faq { @include font-size(18px);
  h3 { position: relative; padding: 15px 0; padding-right: 40px; margin-bottom: 5px; @include font-size(19px); cursor: pointer; @extend .ease;
    &[aria-expanded=true] {
      color: $coBlue;
      &:after { @include transform(rotate(45deg)); }
    }
    &:hover { color: $coBlue; }
    &:after { @include font-size(25px); position: absolute; font-family: 'Font Awesome 5 Pro'; font-weight: 300; top: 14px; right: 15px; content: '\f067'; @extend .ease; color: $coAsh; }
    span { color: $coBlue; margin-right: 15px; }
  }
  .faq-list { border-bottom: 1px solid $coAsh;
    &:first-child { border-top: 1px solid $coAsh; }
    .collapse-parent { padding-left: 30px; }
  }
}

.panel {
  .thumb {
    .count { position: absolute; display: block; top: 0; left: -30px; width: 23px; height: 23px; text-align: center; line-height: 19px; padding: 0 6px; color: $coWhite; background: $coBlue; border-radius: 100%; }
    img { position: relative; border: 2px solid $coAsh; border-radius: 8px; overflow: hidden; }
  }
}


// Language Detect
html[lang="en"] {
  #main-container { letter-spacing: 0; }
}
