.no-margin { margin: 0; }
.no-padding { padding: 0; }
.no-padding-left { padding-left: 0; }
.no-padding-right { padding-right: 0; }
.mt0 { margin-top: 0; }
.mb0 { margin-bottom: 0; }
.pt0 { padding-top: 0; }
.pb0 { padding-bottom: 0; }
.pl0 { padding-left: 0; }
.pr0 { padding-right: 0; }
.margin-p-0 p { margin: 0; }

.pl1 { padding-left: 10px; }
.pl2 { padding-left: 20px; }
.pl3 { padding-left: 30px; }
.pl4 { padding-left: 40px; }
.pl5 { padding-left: 50px; }
.pl6 { padding-left: 60px; }
.pl7 { padding-left: 70px; }
.pl8 { padding-left: 80px; }
.pl9 { padding-left: 90px; }
.pl10 { padding-left: 100px; }

// Padding Top
.pt1{padding-top:$spaceOne}
.pt2{padding-top:$spaceTwo;  }
.pt3{padding-top:$spaceThree; }
.pt4{padding-top:$spaceFour; }
.pt5{padding-top:$spaceFive; }
.pt6{padding-top: 60px; }
.pt7{padding-top:70px; }
.pt8{padding-top:80px; }
.pt9{padding-top:90px; }
.pt10{padding-top:100px; }

// Padding Bottom
.pb1{padding-bottom:$spaceOne}
.pb2{padding-bottom:$spaceTwo; }
.pb3{padding-bottom:$spaceThree; }
.pb4{padding-bottom:$spaceFour; }
.pb5{padding-bottom:$spaceFive; }
.pb6{padding-bottom:60px; }
.pb7{padding-bottom:70px; }
.pb8{padding-bottom:80px; }
.pb9{padding-bottom:90px; }
.pb10{padding-bottom:100px; }

// Padding Right
.pr1 { padding-right: 10px; }
.pr2 { padding-right: 20px; }
.pr3 { padding-right: 30px; }
.pr4 { padding-right: 40px; }
.pr5 { padding-right: 50px; }
.pr6 { padding-right: 60px; }
.pr7 { padding-right: 70px; }
.pr8 { padding-right: 80px; }
.pr9 { padding-right: 90px; }
.pr10 { padding-right: 100px; }

// Margin Top
.mt1{margin-top:$spaceOne}
.mt2{margin-top:$spaceTwo; }
.mt3{margin-top:$spaceThree; }
.mt4{margin-top:$spaceFour; }
.mt5{margin-top:$spaceFive; }
.mt6{margin-top:60px; }
.mt7{margin-top:70px; }
.mt8{margin-top:80px; }
.mt9{margin-top:90px; }
.mt10{margin-top:100px; }

.mt1-5 { margin-top: 15px; }

// Margin Bottom
.mb1{margin-bottom:$spaceOne}
.mb2{margin-bottom:$spaceTwo; }
.mb3{margin-bottom:$spaceThree; }
.mb4{margin-bottom:$spaceFour; }
.mb5{margin-bottom:$spaceFive; }
.mb6{margin-bottom:60px; }
.mb7{margin-bottom:70px; }
.mb8{margin-bottom:80px; }
.mb9{margin-bottom:90px; }
.mb10{margin-bottom:100px; }

@include breakpoint(phablet) {
  // Padding Top
 .pt2 { padding-top: $spaceOne; }
 .pt3 { padding-top: $spaceTwo; }
 .pt4 { padding-top: $spaceThree; }
 .pt5 { padding-top: $spaceFour; }
 .pt6{padding-top:50px; }
 .pt7{padding-top:60px; }
 .pt8{padding-top:70px; }
 .pt9{padding-top:80px; }
 .pt10{padding-top:90px; }

 // Padding Bottom
 .pb2 { padding-bottom: $spaceOne; }
 .pb3 { padding-bottom: $spaceTwo; }
 .pb4 { padding-bottom: $spaceThree; }
 .pb5 { padding-bottom: $spaceFour; }
 .pb6{ padding-bottom: $spaceFive; }
 .pb7{padding-bottom:60px; }
 .pb8{padding-bottom:70px; }
 .pb9{padding-bottom:80px; }
 .pb10{padding-bottom:90px; }

 // Margin Top
 .mt2 { margin-top: $spaceOne; }
 .mt3 { margin-top: $spaceTwo; }
 .mt4 { margin-top: $spaceThree; }
 .mt5 { margin-top: $spaceFour; }
 .mt6 { margin-top: 50px; }
 .mt7 { margin-top: 60px; }
 .mt8 { margin-top: 70px; }
 .mt9 { margin-top: 80px; }
 .mt10 { margin-top: 90px; }

 // Margin Bottom
 .mb2 { margin-bottom: $spaceOne; }
 .mb3 { margin-bottom: $spaceTwo; }
 .mb4 { margin-bottom: $spaceThree; }
 .mb5 { margin-bottom: $spaceFour; }
 .mb6 { margin-bottom: 50px; }
 .mb7 { margin-bottom: 60px; }
 .mb8 { margin-bottom: 70px; }
 .mb9 { margin-bottom: 80px; }
 .mb10 { margin-bottom: 90px; }
}
